/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 6, 2016, 10:27:58 PM
    Author     : PoolLaptop
*/

div [class*="left floated"] {
    float: left;
    margin-left: 0.25em;
}

div [class*="right floated"] {
    float: right;
    margin-right: 0.25em;
} 

@media screen and (max-width: 799px) and (min-width: 320px) {
    .mobile{
        visibility: visible;
        display: inline;
    }
    .mornitor{
        visibility: hidden;
        display: none;
    }
}
@media screen and (max-width: 1400px) and (min-width: 800px) {
    .mobile{
        visibility: hidden;
        display: none;
    }
    .mornitor{
        visibility: visible;
        display: inline;
    }
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
/*.ui.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}*/